{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": ["dist", ".eslintrc.cjs"],
  "parserOptions": { "ecmaVersion": "latest", "sourceType": "module" },
  "settings": { "react": { "version": "18.2" } },
  "plugins": ["react-refresh"],
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "prefer-const": "warn",
    "quotes": "warn",
    "jsx-quotes": ["warn", "prefer-double"],
    "indent": ["warn", 2],
    "max-len": ["error", {"code": 120}],
    "comma-dangle": ["error", "always-multiline"],
    "semi" : ["warn", "always"],
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true }
    ],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always-and-insaide-groups"
      }
    ],
    "import/newline-after-import": ["error", { "count": 2 }]
  }
}

//rules: {
//
//
//    'prettier/prettier': [
//      'error',
//      {
//        arrowParens: 'avoid',
//        bracketSpacing: true,
//        endOfLine: 'auto',
//        printWidth: 140,
//        proseWrap: 'preserve',
//        quoteProps: 'as-needed',
//        semi: true,
//        singleQuote: false,
//        tabWidth: 2,
//        trailingComma: 'all',
//        useTabs: false,
//      },
//    ],
//    'sort-imports': [
//      'error',
//      {
//        allowSeparatedGroups: true,
//        ignoreCase: false,
//        ignoreDeclarationSort: true,
//        ignoreMemberSort: false,
//        memberSyntaxSortOrder: ['none', 'all', 'multiple', 'single'],
//      },
//    ],
//  },


